{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container my-4">
<h1 >About Santosh Ice-Creams</h1>
</div>
<div>
<ul>
  <li>Santosh ice cream was launched in 1997 with a small dream to build to serve good quality ice cream to people.</li>
  <li>But today we have become a brand that serves ice creams to every part of the country.</li>
  <li>Even after become a big brand we never compromised with our quality.</li>
</ul>
</div>
{% endblock body %}
